body {

    background-color: #EAF6F6;
}
hr { 
    border-color: rgb(128, 128, 128, 0.3);
    border-width: 5px;
    border-style:  none;
    border-top-style: dotted;
    width: 5%;

}
h2,h3{
    color:#66BFBF
}